:root 
  --color-text: #000
  --color-text-light: #838383
  --color-accent: #FFA542
  --color-accent-light: #FFCE7F
  --color-bg: #eaeaea
  --color-white: #fff
  --color-error: #DF6464

  --ff-base: "Montserrat", sans-serif

  --header-h: 60px

  font-family: var(--ff-base)
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal

  color-scheme: light dark

  font-synthesis: none
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  color: var(--color-text)

*,
*::after,
*::before
  box-sizing: border-box

body
  margin: 0
  min-width: 320px
  min-height: 100vh
  background-color: var(--color-bg)

a 
  transition: all 0.25s ease

.visually-hidden:not(:focus):not(:active)
    clip-path: inset(50%)
    height: 1px
    overflow: hidden
    position: absolute
    white-space: nowrap
    width: 1px

.container
  width: 100%
  max-width: 1150px
  margin: 0 auto
  padding-inline: 20px

.page
  display: grid
  grid-template-rows: auto 1fr auto
  min-height: 100dvh

.page__content
  padding-top: 30px
  padding-bottom: 40px

.page-title
  margin: 0 0 15px
  font-size: 20px
  font-weight: 600

.category

  &:not(:last-child)
    margin-bottom: 40px
  
  &__title
    margin: 0 0 20px
    font-size: 20px
    font-weight: 600
    color: var(--color-text-light)

  &__list 
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    gap: 30px

    .product-card
      width: 100%
      max-width: 400px
      justify-self: center

.cart
  display: grid
  grid-template-columns: 1fr 350px
  column-gap: 60px

  @media screen and (width < 1000px)
    grid-template-columns: 1fr
    row-gap: 30px

  &__list
    display: grid
    row-gap: 30px


